.waitabit-config {
    padding: 20px;
    text-align: left;
  }
  .row
  {
    margin-top:4%;
    margin-bottom: 4%;
  }
  .heading
  {    align-self: center;
    font-size: 16px;
    color: #57595b;
}
input[type=text] {
 padding:4px;
 border-radius: 6px;
 border-style: ridge;
 border-color: #dedede;
}
input[type=radio] {
  height: 1.25em;
  width: 1.25em;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
 }
  .btn {
    padding: 5px;
    margin: 0px 2px;
    border: 1px solid #dedede;
    outline: none;
  }
  .btn-active {
    border: 1px solid #a0a0a0;
  }
  .btn:focus {
    border: 1px solid #333;
  }
.colorBox
{
    width: 176px;
  
        border-width: 2px;
       
        padding:4px;
 border-radius: 6px;
 border-style: ridge;
 border-color: #dedede;
 
      
}
.selectBtn
{
  width: 178px;
  padding: 6px;
  border-radius: 6px;
   
}

.form-check-input
{
margin-left: 20px;
}

.card {

    background: #f7f6f6;
  }