
<div class="container" style=" overflow:scroll;height:700px">
<div class="waitabit-config">
     <div class="row">
    <div class="col-4 heading">Waitlist Text</div>
    <div class="col-3"> <input type="text" [(ngModel)]="title" (ngModelChange)="titleChanged($event)" /></div>
  </div> 

  <div class="row">
    <div class=" col-4 heading">Primary Color</div>
    <div class="col-3">
      <div class="colorBox">
        <input type="color" value="#ff0000" [(ngModel)]="color" (ngModelChange)="colorChanged($event)">
        {{color}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 heading">Button Text</div>
    <div class="col-3"> <input type="text" [(ngModel)]="buttontext" (ngModelChange)="buttontextChanged($event)" /></div>
  </div> 



  <div class="row">
    <div class="col-4 heading"> Button position</div>
    <div class="col-3">
      <select class="selectBtn" #sel (change)="buttonpositionchanged(sel.value)">
        <option value="right">Right</option>
        <option  value="bottom">Bottom</option>
      </select>
    </div>
  </div>




    <div class="row">
      <div class=" col-4 heading "> API Token</div>
      <div class="col-3"> <input type="text" [(ngModel)]="apitoken" (ngModelChange)="apitokenChanged($event)" />
      </div>
    </div>
    <div class="row">
    <div class=" col-4 heading"> Widget Position</div>
    <div class="col-7">
     
        <label>
          <input type="radio" (change)="widgetpositionChanged($event.target.value)" checked="checked" name="radio1"  [(ngModel)]="widgetposition" value='left'>Left
        </label>
    
        <label>
          <input type="radio" (change)="widgetpositionChanged($event.target.value)" name="radio1"  [(ngModel)]="widgetposition" value='center'>Center
        </label>
       
  </div>
  </div>
  <hr>
  <h6>Thank You Layout</h6>



  
  <div class="row">
    <div class=" col-4 heading"> Thank You Title</div>
    <div class="col-3">
    <input type="text" [(ngModel)]="thankmsg" (ngModelChange)="thankmsgChanged($event)"  />
    </div>
  </div>

  <div class="row">
    <div class=" col-4 heading">Description</div>
    <div class="col-3">
      <input type="text" [(ngModel)]="desctext" (ngModelChange)="desctextChanged($event)" />
    </div>
  </div>
  <div class="row">
  <div class=" col-4 heading">Page Display</div>
  <div class="col-7">
    <label>
      <input type="radio" (change)="pagedisplayChanged($event.target.value)" checked="checked" name="radio"  [(ngModel)]="pagedisplay" value='singlePage'>Single Page
    </label>

    <label>
      <input type="radio"  name="radio"  [(ngModel)]="pagedisplay" value='popup' (change)="pagedisplayChanged($event.target.value)">Popup
    </label>
    </div>
 
</div>


  <div class=" heading">Social Share Link</div>

  <form [formGroup]="myForm">
    <div class="form-check form-check-inline">

    
      <div *ngFor="let data of uiLinkArray">
        <input  checked=checked class="form-check-input" type="checkbox" (change)="onChange(data, $event.target.checked)">
        <label class="form-check-label">{{data}}</label>
      </div>
    </div>
  </form>

  <div style="text-align: center;" >
    <button class="btn btn-primary" style="position: left;" type="submit"  (click)="generate()">Generate Code</button>
  </div>
  

<hr>
  <h6>Script</h6>
  <p>* Place the code in your html where you want the widget to appear </p>
<div class="card">
  <div class="card-title"> {{scriptCode}} </div>
</div>
</div>